* {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #CCD6D4; 
}

.login-message,
#login-form,
.please-login {
    text-align: center;
}

.your-trusted-partner-in-travel {
    text-align: center;
    font-style: italic;
}

.username-error-message {
    font-style: bold; 
}

.image-container {
    display: flex;
    justify-content: center;
}

img {
    height: 50vh; 
    width: 50vw;
    align-items: center;

}

.welcome-message,
.total-amount-spent-this-year { 
    text-align: center;
}

.main-wrapper {
    width: 100%;
}

.upcoming-trips-wrapper,
.pending-trips-wrapper,
.past-trips-wrapper {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin-bottom: 20px; 
}

.upcoming-trips-header,
.pending-trips-header,
.past-trips-header {
    margin: 0; 
    text-align: center;
    font-weight: 300;
}

#destinations-visited-container {
    max-width: 100%;
    font-size: medium; 
    text-align: center;
}

.book-a-trip-wrapper {
    border: 2px #24565C solid;
}

.book-a-trip-header {
    margin-bottom: 10px; 
    text-align: center;
}

.to-travel-is-to-live, 
.book-a-trip-info {
    text-align: center;
}

.book-a-trip {
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    gap: 10px; 
}

.book-a-trip button {
    background-color: #24565C;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px; 
  }

.hidden {
    display: none;
}