body, html {
    height: 100%;
    padding: 0;
    margin: 0; 
}

.welcome-message,
.total-amount-spent-this-year { 
    text-align: center;
}

.main-wrapper {
    width: 100%;
}
.upcoming-trips-wrapper,
.pending-trips-wrapper,
.past-trips-wrapper,
.book-a-trip-wrapper {
    border: 2px hotpink solid;
    display: flex;
    height: 100%;
    width: 100%;
}

.upcoming-trips-header,
.pending-trips-header,
.past-trips-header,
.book-a-trip-header {
    margin: 0; 
    text-align: center;
}

#destinations-visited-container {
    max-width: 100%;
    font-size: medium; 
}

.hidden {
    display: none;
}